  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;


}
.extra{
    display: flex;
    flex-direction: column;
    height: 85vh;
    border-color: lightgray;
    margin-left: 7vmin;
    
}
.main{
    display: flex;
    border: 1px solid;
    border-color: lightgray;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 61vh;
}
.photo{
    height: 89vh;
}
.photo1{
    background-color: #3b5998;
    z-index: 1;
}
.image{
   margin-top: 5vmin;
    width: 15vw;

}
.email{
    margin-top: 2.3em;
    border-radius: 2px;
    border: 1px solid;  
    border-color: lightgray;
    padding: .7em;
    width: 18vw;
}
.password{
    margin-top: .4em;
    border-radius: 2px;
    border: 1px solid;  
    border-color: lightgray;
    padding: .7em;
    width: 18vw;
}
.login{
    margin-top: 2vmin;
    background-color: #5d9dd1;
    padding: .6em;
    width: 19.5vw;
    border-radius: 10px;
    border: none;
}
.line{
    display: flex;
    flex-direction: row;

}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: grey;
    font-size: smaller;
    width: 3vw;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
}
.line3{
    display: flex;
    align-items: center;
}
.line1{
    width: 8vw;
    height: 0vh;
    border: .2px solid; 
    border-color: rgb(223, 221, 221);
}
.line2{
    width: 7.5vw;
    height: 0vh;
    border: .2px solid;
    border-color: rgb(223, 221, 221);

}
.facebook{
    display: flex;
    flex-direction: row;
        
}
.fa-brands{
    font-size: 3vmin;
    margin: 1vw;
}
.with{
    color: #3b5998 ;
    font-weight: 550;
    font-size: .85em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 6vh;
    color: #3b5998 ;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
}
.sign{
    display: flex;
    justify-content: start;
    align-items: end;
    border-color: lightgrey;
    width: 25vw;
    height: 11vh;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
.extra2{

    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    border: 1px solid;
    border-color: lightgrey;
    width: 25vw;
}
.signup{
    color: rgb(89, 146, 168) ;
    font-weight: 550;
}
.app{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 5vh;
    width: 25vw;
    font-size: 2.3vmin;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
}
.play{
    width: 20vw;
}
.meta{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7vh;
    
}
.meta3{
  font-size: .9em;
    width: 15vmin;
    color: rgb(136, 122, 122);
}
.meta2{
    width:30vmin;    
    font-size: .9em;
    color: rgb(136, 122, 122);
}
.meta1{
    width: 7vmin;
    font-size: .9em;
    color: rgb(136, 122, 122);
}
.meta4{
    width: 10vmin;
  font-size: .9em;
  color: rgb(136, 122, 122);
}

.last{
    display: flex;
    justify-content: center;
    width: 100vws;
    height: 10vh;
  color: rgb(136, 122, 122);
}
.dropdown{
    width: 7vw;
}
#drop{
    border: none;
    color: rgb(136, 122, 122);
}
.google:hover{
  cursor: pointer;
}
.image:hover{
    cursor: pointer;
}
.with:hover{
    cursor: pointer;
}
.forgot:hover{
    cursor: pointer;
}
.signup:hover{
    cursor: pointer;
}
.meta:hover{
    cursor: pointer;
}
.meta1:hover{
    text-decoration: underline;
}
.meta2:hover{
    text-decoration: underline;
}
.meta3:hover{
    text-decoration: underline;
}
@media screen and (max-width: 875px){
.extra{
    position: absolute;
}
.photo{
    display: none;
}
.main{
    width: 350px;
}
.image{
    width: 25vw;
}
.email{
    width: 30vw;
}
.password{
    width: 30vw;
}
.login{
    width: 30vw;
}
.sign{
    width: 40vw;
}
.extra2{
    width: 40vw;
}
.app{
    width: 40vw;
}
.google{
    width: 40vw;
}
.play{
    width: 35vw;
}
}